<div class="component">
    <mat-dialog-content class="mat-typography">
        <img class="userLogin" src="./assets/Ellipse5.png" alt="user logo">
        <input class="infouno" placeholder="ejemplo@gmail.com">
        <input class="infodos" placeholder="Escribe la contraseña">
        <input class="infotres" placeholder="Especifica el rol">
        <mat-dialog-actions align="end" class="close">
            <button mat-button mat-dialog-close >Cancel</button>
            <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Create</button>
          </mat-dialog-actions>
      </mat-dialog-content>
      

</div>

