<div class="component">
    <form [formGroup] ="myform" (ngSubmit)= "Saveuser()" id="formModal">
        <h1 mat-dialog-title>{{data.title}}</h1>
        <div mat-dialog-content class="mat-typography">
            <img class="userLogin" src="./assets/Ellipse5.png" alt="user logo">
            <mat-form-field id="emailModal" >
                <mat-label>Correo</mat-label>
                <input formControlName="correo" matInput placeholder="ejemplo@gmail.com">
            </mat-form-field>
            <mat-form-field id="passModal" >
                <mat-label>Contraseña</mat-label>
                <input formControlName="contraseña" matInput  placeholder="Escribe la contraseña">
            </mat-form-field>
            <mat-form-field id="roleModal" >
                <mat-label>Rol</mat-label>
                <input formControlName="rol" matInput placeholder="Especifica el rol">
            </mat-form-field>
            <div mat-dialog-actions align="end" class="close">
                <button  mat-raised-button color="primary" (click) ="Closepopup()">Cancelar</button>
                <button mat-raised-button color="primary">Crear</button>
                <button mat-raised-button color="primary" (click) ="saveEdit()" >Editar</button>
              </div>
          </div>
          </form>
</div>

