<div class="modal-fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form [formGroup]="myform" (ngSubmit)="Saveuser()" id="formModal">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">{{data.title}}</h1>
                    <div mat-dialog-content class="mat-typography">
                        
                        <div class="mb-3">
                            <label class="col-form-label">Correo</label>
                            <input type="text" class="addinput" formControlName="correo" matInput placeholder="ejemplo@gmail.com">
                        </div>
                        
                        <div class="mb-3">
                            <label class="col-form-label">Contraseña</label>
                            <input type="text" class="addinput" formControlName="contraseña" matInput placeholder="Escribe la contraseña">
                        </div>
                        
                        <div class="mb-3">
                            <label class="col-form-label">Rol</label>
                            <input type="text" class="addinput" formControlName="rol" matInput placeholder="Especifica el rol">
                        </div>
                    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="Closepopup()">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>
