@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
/*Paleta de colores
body = #F5F5F5
button = #F2B366 
button = #731616
tab = #D9D9D9 
*/


.modal-body {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    z-index: 1000;
  }

  .midle {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  } 

  .mat-typography{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #731616;
    flex-direction: column;
    height: 100vh;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
  }

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #731616;
    font-size: large;
    width: 50%;
    border-radius: 20px 20px 0px 0px;
  }

  .mat-typography {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-radius: 0px 0px 20px 20px;
  }

  .close{
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    padding: 0;
  }
  
  .userLogin{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 70px;
    margin: 5px;
}

.emailModal, .passModal, .roleModal {
  height: 20px;
}

button {
    display: flex;
    align-items: center;
    justify-content:center;
    border: none;
    border-radius: 15px;
    margin: 10px;
    width: 40%;
    height: 50%;
    background-color: #F2B366 ;
}

mat-card {
  margin: 2%;
  text-align: left;
}

mat-label {
  margin-bottom: 15px;
  margin-left: 5px;
  width: 100%;
  height: 20%;
  border: none;
  text-align: left;
  font-size: 14px;
}

.addinput {
  width: 100%;
  height: 80%;
  border-radius: 10px;
}

mat-form-field {
    display: flex;
    align-items: left;
    justify-content:left;
    width: 100%;
    height: 70%;
    padding: 5px;
    flex-direction: column;
}

.mat-50{
  width: 48%;
  margin: 1%;
}

.emailModal, .passModal, .roleModal {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 90%;
    height: 10%;
}