@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
/*Paleta de colores
body = #F5F5F5
button = #F2B366 
button = #731616
tab = #D9D9D9 
*/


.component {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(244, 244, 244, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .midle {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  } 

  .mat-typography{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #731616;
    flex-direction: column;
    height: 100vh;
  }

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #731616;
    font-size: large;
  }

  .close{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
  }
  
  .userLogin{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 70px;
    margin: 5px;
}

.emailModal, .passModal, .roleModal {
  height: 20px;
}

button {
    display: flex;
    align-items: center;
    justify-content:center;
    border: none;
    border-radius: 15px;
    margin: 15px;
    background-color: #F2B366 ;
}

mat-card{
  margin: 2%;
  text-align: left;
}

.mat-mcd-form-field {
  width: 98%;
  margin: 1%;
}

.mat-50{
  width: 48%;
  margin: 1%;
}
