.dropdown-list{
    margin-top: 20px;
    margin-left: 2%;
    width: 200px;
    height: 70px;
    background-color: white;
    color: #626262;
    font-size: xx-large;
    border-radius: 5px;
    border-style: none;
    padding-left: 35px;
    
}
.list{
    font-size: large;
}