<<<<<<< HEAD
.div-products{
    width: 500px;
    height: auto;
}

.product{
    width: 90%;
    height: auto;
    display:flex;
    flex-direction: column;
    border: 1px solid chartreuse;
}
.product-description{
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: row;
    font-size: xx-large;
}
.div-title{
width: 50%;

}

=======
.seccion-products{
    width: 100px;
    height: auto;
}
>>>>>>> 395cf4e62653c47f7983c5742915cb76f84f91f8
