@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
/*Paleta de colores
body = #F5F5F5
button = #F2B366 
button = #731616
tab = #D9D9D9 
*/

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    background-image: url(../../../assets/burguer_image.jpeg);
    background-size: 100% 100%;
}

.allBody{
    display: flex;
    width: 100vw;
    height: 100%;
}

h1{
    margin-top: 120px;
    margin-bottom: 0;
    font-size: 50px;
    text-align: center;
    color: white;
}

.login{
    position: relative;
    justify-content:left;
    width: 50%;
    height: 100vh;
}

.userLogin{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 150px;
    margin-top: 30px;
}

.loginGrid{
    display: grid;
    grid-template-rows: 200px 70px 70px 70px 70px;
    width: 100%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
}

input{
    height: 70%;
    width: 400px;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button-info{
    position: relative;
    height: 70%;
    width: 400px;
    text-align: center;
    border-radius: 10px;
    border-style: none;
    background-color: #F2B366;
    color: black;
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: background-color .1s;;
}

.button-info:hover {
    background-color: #F2884b;
}

.errorMessage {
    position: relative;
    height: 20%;
    width: 400px;
    top: 0;
    bottom: 0;
    color: antiquewhite;
}