@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Barlow:ital,wght@0,300;0,700;1,400&display=swap');


$font-stack: 'Agbalumo';
$base-color-one: #ffffff;
$base-color-two: #000000;
$base-color-tv2: #19191a;
$base-color-tv3: #101217;
$base-color-three: #db3210; 


body, html {
    margin: 0px;
    padding: 0px;
    border: none;
    font-family: $font-stack;
    display: flex;
    overflow: hidden;
    background-size: 100% 100%;
}

.allBody{
    border: none;
    display: flex;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $base-color-one;
}

nav {
    background-color:  $base-color-tv2;
    padding: 0;
    
}

.navbar-brand {
    color: $base-color-one;
    margin-top: 20px;
    font-size: 45px;
}

.container-fluid {
    background-color:  $base-color-tv2;
    height: 120px;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    background-color: $base-color-two;
}

.loginSpace {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 50%;
    height: 100%;
    background-color: $base-color-tv2;
    margin-top: 0;
}

.firstTitle{
    display: flex;
    color: $base-color-three;
    font-size: 40px;
    font-weight: 400;
    margin-top: 10%;
    height: 8%;
    align-items: center;
    align-content: center;
}

.divImage {
    display: flex;
    width: 50%;
    height: 90%;
    margin-top: 0;
    align-items: center;
}

form {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 90%;
    height: 60%;
    align-items: center;
    justify-items: center;
    margin-bottom: 0;
}

.mb-3 {
    width: 70%;
    height: 120px;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.emailError, .passwordError {
    position: absolute;
    height: 15px;
    width: 50%;
    color: $base-color-three;
    left: 70px;
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 8%;
}

.email, .password {
    height: 60px;
    width: 400px;
    text-align: center;
    bottom: 0;
    font-family: 'Oxygen', sans-serif;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.errorMessage {
    position: relative;
    height: 20%;
    width: 400px;
    top: 0;
    bottom: 0;
    color: antiquewhite;
}

.form-label {
    color: $base-color-one;
    margin-bottom: 1rem;
}

.form-control {
    width: 100%;
    height: 45px;
}
 
button {
    background-color: #db3210;
    border-color: #db3210;
    margin-top: 20px;
}