<!DOCTYPE html>
<html> 
    <head>
        <meta charset="utf-8">
      </head>
      <body>
        <main>
            <div class="allBody">
                <div class="login">
                    <div class="portada">
                        <h1>Quick Orders</h1>
                    </div>
                    <div class="loginGrid">
                        <img class="userLogin" src="./assets/Ellipse5.png" alt="user logo">
                        <input class="userImput" type="email" placeholder="Correo">
                        <input class="comentImput" type="text" placeholder="Contraseña">
                        <button name="buttonInicio" class="button-info">Iniciar Sesión</button>
                    </div>
                </div>
            </div>
        </main>

      </body>

</html>