<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
</head>

<body>
    <main>
        <div class="allBody">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <p class="navbar-brand" href="#">QUICK ORDERS</p>
                </div>
                </nav>
                <div class="content">
                    <div class="loginSpace">
                        <p class="firstTitle">Iniciar sesión</p>
                        <form [formGroup]="authForm" class="login-container" (ngSubmit)="login()">
                            <div class="mb-3">
                                <label for="exampleInputEmail" class="form-label">Email address</label>
                                <p [ngClass]="{'has-error': isSubmitted && formControls['email'].errors }">
                                    <input class="form-control" type="email" formControlName="email" aria-describedby="emailHelp">
                                </p>
                                <div *ngIf="isSubmitted && formControls['email'].errors" class="help-block">
                                    <div class="emailError" *ngIf="formControls['email'].errors['required']">El email es
                                        requerido</div>
                                </div>
                            </div>
                            
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Passwork</label>
                                <p [ngClass]="{'has-error': isSubmitted && formControls['password'].errors }">
                                    <input class="form-control" type="password" formControlName="password">
                                </p>
                                <div *ngIf="isSubmitted && formControls['password'].errors" class="help-block">
                                    <div class="passwordError" *ngIf="formControls['password'].errors['required']">La contraseña
                                        es
                                        requerido</div>
                                </div>
                            </div>
                            <button name="buttonInicio" class="btn" (click)="login()">Iniciar Sesión</button>
                        </form>
                    </div>
                    <div class="divImage">
                        <img src="../../../assets/jonathan.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>
    </main>
</body>

</html>