.buttonDefault {
    background-color: rgba(209, 166, 80, 1);
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Suez One', serif;
}