.buttonDefault {
    background-color: #68902B;
    color: #ffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Suez One', serif; 
    gap: 10px;   
}