.logo{ 
    width: 40%;
    height: 75%;
    padding: 5%; 
  }
.inputs {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 5%;
  background-color: #E1DDDD;
  opacity: 0.9;
  margin: 30px;
  width: 33%;
  height: 18%;
  margin-top: -550px;
  margin-left: 500px;
  font-size: 30px;
}
.logo{ 
 
  width: 40%;
  height: 75%;
  padding: 5%;
  
}
h1{
  font-size: 45px;
}

.button-form {
    padding: 5px;
    color: #ffffff;
    background-color: #133C8B;
    transition: border-color 0.25s;
    margin-top: 35px;
    display: flex;
    width: 100%;
    max-width: 343px;
    height: 45px;
    border-radius: 12px;
    justify-content: center;
    font-weight: bold;
    font-size: 22px;
    border: none;
    align-items: center;
    margin-bottom: 15px;
  }
  
  