.logo{ 
  width: 40%;
  height: 75%;
  padding: 5%; 
}
.bienvenidos{
  position: relative;
  top: -2px;
  left: -608px;
  font-size: 46px;
}
.inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: nowrap;
  border-radius: 20px;
  padding: 7%;
  background-color: #e1dddd;
  opacity: 2.9;
  width: 30%;
  height: 330px;
  margin-top: -538px;
  margin-left: 500px;
  font-size: 30px;
}
.us{
  display: flex;
  background: #ffffff;
  border: none;
  padding-left: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 380px;
  height: 46px;
  font-weight: bold;
  font-size: 23px;
  border-radius: 10px;
  margin-left: -6px;
  margin-bottom: 20px;
}
.pas{
  display: flex;
  background: #ffffff;
  border: none;
  padding-left: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 99%;
  max-width: 380px;
  height: 46px;
  font-weight: bold;
  font-size: 23px;
  border-radius: 10px;
  margin-bottom: 2px;
}

.btn-login {
  display:flex;
  color: #ffffff;
  background-color: #133C8B;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 104%;
  max-width: 380px;
  box-sizing: border-box;
  height: 48px;
  font-size: 22px;
  border: none;
  border-radius: 10px;
  margin-left: -9px;
  margin-bottom: -3px;
}

}