
.inputs {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 5%;
  background-color: #E1DDDD;
  margin: 30px;
  width: 33%;
  height: 18%;
  margin-top: -550px;
  margin-left: 500px;
  font-size: 30px;
}
.logo{ 
 
  width: 40%;
  height: 75%;
  padding: 5%;
  
}
h1{
  font-size: 45px;
}
    
  
  