body {
    background-color: #FDD209;
    margin: 0px;
    padding: 0px;   
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

.logo-admonMenu {
    margin: 0;
    font-weight: 800;
    font-size: 150%;
    color: #F32822;
    text-shadow: -2px -2px 0 #F5F5F5, 2px -2px 0 #F5F5F5, -2px 2px 0 #F5F5F5, 2px 2px 0 #F5F5F5;
  }

.logo1-admonMenu {
  width: 60px;
  height: 60px;
  margin-left: 10px;
}

.content-container {
    display: flex;
    justify-content: space-between;
    width: 90%; 
  }
  
  .left-container,
  .right-container {
    align-items: center;
    padding: 20px;
    margin-right: 20px; 
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f5f5f5;
  }
  
  .container-title {
    font-size: 160%;
    color: #333333;
    font-weight: 800;
  }

  .container-title-right { 
    font-size: 160%;
    color: #333333;
    font-weight: 800;
    margin-top: 30px;
  }

  .product-image-admon-menu {
    width: 50px; 
    height: 50px; 
    text-align: center; 
    overflow: hidden;
  }
  
  .product-img-admon-menu {
    max-width: 100%; 
    max-height: 100%; 
    border-radius: 50%;
    background-color: #ccc;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  }

.product-table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  background-color: white;
  max-width: 100%; 
}

.product-table th, .product-table td {
  padding: 10px;
  text-align: center;
  vertical-align: middle; 
}

.product-table th {
  background-color: #6610f2;
  border-color: gray;
  border-style: none;
  color: white;
  font-weight: bold;
}

.product-table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

.product-table tbody tr:hover {
  background-color: #ccc;
}

.divsInput-admon-menu {
  margin: 20px 0px;
}

.btnPapelera-admon-menu {
  border: none;
  background-color: #f2f2f2;
  border-radius: 50px;
  margin-right: 10px;
 }

.add-admon-menu { 
  display: flex;
  justify-content: space-evenly;
}

.input-admon-menu {
  font-size: 20px;
  border: none;
  border-bottom: 1px solid black; 
  margin: 20px 0; 
  text-align: center;
  background-color: #f2f2f2;
}

.input-admon-menu::placeholder {
  color: gray; 
  font-style: italic;
  font-size: 20px;
  text-align: center;
}

.btnAdd-admon-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  font-size: 20px;
  border-radius: 40px;
  font-family: 'Times New Roman', Times, serif;
  background-color: #5E71CD;
  border-color: gray;
  color: white;
  border-style: none;
}

.btnAdd-admon-menu:hover {
  background-color: #4caf50;
}
  
  @media (max-width: 768px) {

    .logo-title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
      }
    
    .content-container {
      flex-direction: column;
      margin: 5px 0px;
    }
  
    .left-container,
    .right-container {
      width: 100%;
      margin-bottom: 20px; 
    }

    .product-table {
      font-size: 80%; 
    }
  }