/*----------------MENU.JSX -------------------------------*/
.menu-waiter{
    display: flex;
    flex-direction: column;
}

.container-count{
    width: 50%;
    height: 500px;
    border: 5px solid;
    border-color: rgb(101, 226, 43);
    margin-left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*comanda---------------------------------------------------------------------------*/
.resumenpedido{
    width: 90%;
    height: 90%;
    background-color: rgb(252, 252, 252);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.datos-cliente-resumepedido{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 15px;

}

label{
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.enviarPedido{
    height: 50px;
    width: 160px;
    border-radius: 5px;
    border-color: transparent;
    font-size: larger;
    color: whitesmoke;
    background-color: rgb(177, 44, 44);
}

.product-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.decrement{
    width: 18px;
    height: 18px;
}

.increment{
    width: 18px;
    height: 18px;
}

.delete{
    width: 18px;
    height: 18px;
}


