/*----------------MENU.JSX -------------------------------*/
.menu-waiter{
    display: flex;
    flex-direction: column;
}

.container-count{
    width: 50%;
    height: 500px;
    border: 5px solid;
    border-color: rgb(101, 226, 43);
    margin-left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resumenpedido{
    width: 90%;
    height: 90%;
    background-color: rgb(252, 252, 252);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.datos-cliente-resumepedido{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 15px;

}

label{
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.enviarPedido{
    height: 50px;
    width: 160px;
    border-radius: 5px;
    border-color: transparent;
    font-size: larger;
    color: whitesmoke;
    background-color: rgb(177, 44, 44);
}


/*----------------BREAKFAST.JSX -------------------------------*/
.listado-productos{
    width: 50%;
    border: 5px solid;
    border-color: blueviolet;
    position: absolute;
}

.listadoproductos-resumenpedido{
    border: 5px solid salmon;
    position: relative;
}