.btn-editar-users{
    width: 5%;
}
.users{
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 15px;
    width: 100%;
    height: 35px;
    margin: 15px;
    margin-left: 10px;
    
}
.add-user{
    position: relative;
    
    width: 15%;
    display: flex;
   flex-direction: column;
   
  
   
}
.items-users{
   position: absolute;
   top: 240px;
    background-color:#133C8B ;
    width: 100%;
    color: white;
    height: 30px;
  border-radius: 15px;
}
.admi{
    display: flex;
    font-size: 50px;
    justify-content: center;
    margin-top: 20px;
}
.more-user-products{
    display: flex;
    justify-content:space-between;
    padding: 0;
}
.btn-add-products{
    height: 30px;
    display: flex;
    align-self: center;
}
