.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.nav-item {
  padding: 10px 20px;
  cursor: pointer;
  transition: border-bottom 0.3s;
  font-size: xxx-large;

}

.nav-item.active {
  border-bottom: 4px solid #fa4a0c;
}
