@import url("https://fonts.google.com/specimen/Luckiest+Guy?query=luckies");

body {
  background-color: #FDD209;
  margin: 0px;
  padding: 0px;

}

  .container-total {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    height: 95vh;
    position: relative;
    margin-top: 20px;
  }
  
  .logo-container-pedido {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  .logo-pedido {
    margin: 0;
    font-size: 24px;
    font-weight: 800;
    font-size: 200%;
    letter-spacing: 0.06em;
    color: #F32822;
    text-shadow: -2px -2px 0 #F5F5F5, 2px -2px 0 #F5F5F5, -2px 2px 0 #F5F5F5, 2px 2px 0 #F5F5F5;
  }
  
  .logo1-pedido {
    margin: 0 10px;
    width: 60px;
    height: 60px;
  }
  
  .menu {
    position: left;
    top: 30px;
    left: 30px;
    width: 63%;
    height: 100%;
    background-color: #F5F5F5;
    padding: 20px;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 30px;

  }
  
  .pedido {
    position: absolute;
    top: 90px;
    right: 30px;
    width: 30%;
    height: 60%;
    background-color: #F5F5F5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px;
  }
  

  .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
  }
  
  .mesa-select {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color:  #f2f2f2;
    width: 150px;
    margin-left: 10px;
  }
  
  .cliente-input {
    padding: 0;
    border: none;
    border-bottom: 1px solid black;
    padding: 8px;
    font-size: 16px;
     background-color: #f2f2f2;
    width: 200px;
  }

  .cliente-input::placeholder {
    color: gray; 
    font-style: italic;
    font-size: 20px;
  }

  .nombreCliente {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    
  }

  .container_products {
    display: flex;
    flex-direction: column;
    
  }  


   .product-image {
    height: 40px;
    width: 40px;
   }