<table class="orderTable">
    <thead>
        <tr class="headTitle">
            <th class="number"> Cantidad </th>
            <th class="description"> Descripción </th>
            <th class="subtotal"> Sub total </th>
            <th class="actions"> </th>
        </tr> 
    </thead>
    <tbody class="tableProducts">
        <tr class="lineInfo">
            <td class="number"> 
                <button class="add">+</button>
                <p>2</p>
                <button class="less">-</button> 
            </td>
            <td class="description"> Sandwich </td>
            <td class="subtotal"> 500 </td>
            <td class="actions"> 
                <button class="delete">Eliminar</button>
            </td>
        </tr> 
    </tbody>
    </table>
