@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
/*Paleta de colores
body = #F5F5F5
button = #F2B366 
button = #731616
tab = #D9D9D9 
*/

.orderTable {
    width: 90%;
    height: 90%;
    align-items: center;
}

.headTitle {
    flex-direction:row;
}

.number {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction:row;
}

p{
    margin: 5px;
}

