@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
/*Paleta de colores
body = #F5F5F5
button = #F2B366 
button = #731616
tab = #D9D9D9 
*/

.orderTable {
    display:inline-table;
    width: 90%;
    height: 90%;   
}

tr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}

.plus, .less {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7%;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.subtotal, .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.headTitle {
    flex-direction:row;
    height: 15%;
}


p{
    margin: 5px;
}

