<head>
    <div class="logo">
        <img class="user" src="./assets/Ellipse5.png">
        <span class="userName">Nombre</span>
    </div>
    <div class="interaction">
        <div class="logoBell"></div>
        <div class="menu"></div>
    </div>
</head>
<body>
    <div class="buttons">
        <button class="desayuno"></button>
        <button class="almuerzo"></button>
    </div>
    <div>
        <input class="userclient">
        <input class="numberTable">
    </div>
    <div class="foodBreakfast"></div>
    <div class="foodLunch"></div>
</body>