<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Administrador</title>
    </head>
    <body>
        <div class="allBody">
            <nav class="navbar">
                <img class="userLogin" src="./assets/Ellipse5.png" alt="user logo">
                <p class="nombre">Administrador</p>
                <div class="menuUser"></div>
            </nav>
        <div class="vista">
            <button class="user">Usuario</button>
            <button class="menu">Lista de menú</button>
        </div>
            <div class="encabezado">
                <div class="sections">
                    <p class="section1">Correo</p>
                    <p class="section1">Contraseña</p>
                    <p class="section1">Rol</p>
                </div>
                <div class="tabla">
                    <div class="data1">ejemplo@gmail.com</div>
                    <div class="data1">burguermesero1</div>
                    <div class="data1">mesero</div>
                    <img class="trash" src="./assets/basura.png">
                    <img class="edit">
                </div>
            </div>
           
        <div class="vistaMenu">
            <div>
    
            </div>
        </div>
    </div>
    </body>
</html>
