<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Administrador</title>
    </head>
    <body>
        <div class="allBody">
            <nav class="navbar">
                <img class="userLogin" src="./assets/Ellipse5.png" alt="user logo">
                <p class="nombre">Administrador</p>
            </nav>
        <div class="vista">
            <button class="user" (click) ="activateView('view1')"> Usuario </button>
            <button class="menu" (click) ="activateView2('view2')"> Productos </button>
        </div>
            <div class="encabezado" *ngIf ="activeView === 'view1'">
                <div class="sections">
                    <p class="section1">Correo</p>
                    <p class="section1">Contraseña</p>
                    <p class="section1">Rol</p>
                </div>
                <div class="cards" >
                    <div *ngFor ="let info of data" class="tabla">
                        <p class="infoEmail">{{ info.email }}</p>
                        <p class="infoPass">{{ info.password  }}</p>
                        <p class="infoRole">{{ info.role }}</p>
                        <img class="edit" src="./assets/editar.png">
                        <img class="trash" src="./assets/basura_2.png">
                    </div>
                </div>
                <button class="addUser">Agregar Usuario</button>
            </div>
        <div class="vistaMenu" *ngIf ="activeView === 'view2'">
            <div class="products"> 
                <app-products></app-products>
            </div>
            <button class="addProduct">Agregar Producto</button>
        </div>
    </div>
    </body>
</html>
