@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Barlow:ital,wght@0,300;0,700;1,400&display=swap');

$font-stack: 'Agbalumo';
$base-color-one: #ffffff;
$base-color-two: #000000;
$base-color-tv2: #19191a;
$base-color-tv3: #101217;
$base-color-three: #db3210; 


*{
    margin: 0;
    padding: 0;
    background-color: $base-color-tv2;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    font-family: $font-stack;
    overflow:hidden;
}

.userLogin{
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
    width: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
}


.nombre{
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-left: 10px;
    color: $base-color-one;
    font-size: 20px; 
}
.allBody{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
}

.user, .menu{
    display: flex;
    position: relative;
    width: 50%;
    height: 60px;
    border: none;
    border-radius: 10px 10px 0 0;
    background-color: $base-color-three;
    font-size: 25px;
    align-items: center;
    justify-content:center;
    cursor: pointer;
}

.user:hover, .menu:hover {
    background-color: #F4F4F4;
}

.vistaMenu{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
}

.navbar{
    position: relative;
    display: flex;
    height: 100px;
    margin-right: auto;    
}

.vista {
    display: flex;
    position: relative;
    align-items: center;
    justify-content:center;
    width: 90%;
    height: 60px;
}

.encabezado, .vistaMenu {
    display: flex;
    position: relative;
    height: 75%;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
}

.cards, .products {
    display: flex;
    position: relative;
    height: 90%;
    width: 90%;
    background-color: $base-color-one;
    align-items: center;
    justify-content:center;
    border-radius: 0 0 10px 10px;
}

app-users, app-products {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content:center;
    background-color: $base-color-one;
}

.products{
    display: flex;
    position: relative;
    height: 90%;
    width: 90%;
    background-color: $base-color-one;
    align-items: center;
    justify-content:center;
    border-radius: 0 0 10px 10px;
}

.tabla{
    display: flex;
    position: relative;
    height: 20px;
    width: 100%;
    background-color: #F4F4F4;
    align-items: center;
    justify-content:center;
    margin-bottom: 50px;
    border-radius: 0 0 10px 10px;
}

.addUser, .addProduct {
    display: flex;
    font-family: $font-stack;
    margin-left: auto;
    height: 6%;
    width: 15%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: $base-color-three;
    border: none;
    margin-left: 75%;
    margin-top: 10px;
}

.modalComp {
    display: flex;
    position: relative;
    height: 90%;
    width: 90%;
    background-color: #F4F4F4;
    align-items: center;
    justify-content:center;
    border-radius: 0 0 10px 10px;
}

.vitaModal{
    display: flex;
    position: relative;
    width: 90%;
    height: 90%;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
    background-color: #F4F4F4;
}

app-modal{
    width: 90%;
    height: 90%;
    align-items: center;
    justify-content:center;
    background-color: #F4F4F4;
}




