.ContainerAdmin{
    width: 772px;
    height: 462px;
    border-radius: 17px;
    background: #000;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 28%;
    left: 25%;
}

h1{
    width: 338px;
    height: 16px;
    color: #D48B07;
    font-family: Suez One;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    left: 5%;
    top: 3%;
}

.BtnOrange{
    width: 131px;
    height: 38px;
    background: #D48B07;
    border-radius: 11px;
    position: absolute;
    left: 80%;
    top: 5%;
    color: #FFF;
    text-align: center;
    font-family: Suez One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#S1 {
    position: absolute;
    top: 90%;
    left: 10%;
}

#S2{
    position: absolute;
    top: 15%;
    left: 10%;
}
