.topBar {
  display: flex;
  justify-content: center;
  margin-top: 6em;
  align-items: center;
  gap: 2em;
}

/* .topBar > * {
  margin-left: 5em;
} */

.break {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  background: #fbc54f;
  width: 9em;
  height: 3em;
  border-radius: 20em;
}

.table {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.table>* {
  margin-left: 1em;
}

table {
  border-collapse: collapse;
}

.menuTable table {
  background: red;
  padding-bottom: 2vh;
}

.menuTable {
  margin-top: 2em;
  /*   padding: 1em; */
}

th {
  color: white;
  padding-top: 1vh;
  padding-left: 1.2vw;
  padding-right: 1.2vw;
  padding-bottom: 1vh;
}

.menuTable th {
  background: #4974E3;
}

td {
  padding-top: 1vh;
  padding-left: 1.2vw;
  padding-right: 1.2vw;
  padding-bottom: 2vh;
}

/* .menuTable > * {
  margin-left: 1em;
} */

/* revisar .useOrder cuando este lista la tabla de al lado (background deberia ser la combinacion entre la clase + table) */
.userOrder {
  margin-top: 2em;
  /*   padding: 1em; */
  background: #d9d9d9;
  width: 15em;
  height: 10em;
  align-self: center;
}

.mainContentWaiter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}