.topBar {
  display: flex;
  justify-content: center;
  margin-top: 6em;
  align-items: center;
}

.topBar > * {
  margin-left: 5em;
}

.break {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  background: #fbc54f;
  width: 9em;
  height: 3em;
  border-radius: 20em;
}

.table {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.table > * {
  margin-left: 1em;
}

.menuTable {
  margin-top: 2em;
  margin-left: 2em;
/*   padding: 1em; */
  background: #d9d9d9;
  width: 25em;
  height: 10em;
}
th{
  color: white;
  background: #4974E3;
  width: 100%;
}
/* .menuTable > * {
  margin-left: 1em;
} */

.userOrder{
  margin-top: 2em;
  margin-left: 2em;
/*   padding: 1em; */
background: #d9d9d9;
  width: 15em;
  height: 10em;
}