.topBar {
  display: flex;
  justify-content: center;
  margin-top: 6em;
  align-items: center;
  gap: 2em;
}

.break {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  background: #fbc54f;
  width: 9em;
  height: 3em;
  border-radius: 20em;
}

.table {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.table>* {
  margin-left: 1em;
}

.tableBreakfast table {
  border-collapse: collapse;
  align-self: center;
}

.tableBreakfast table {
  background: #d9d9d9;
  padding-bottom: 2vh;
}

.tableBreakfast {
/*   margin-top: 0.5rem; */
  /*   padding: 1em; */
}

.tableBreakfast th {
  background: #4974E3;
}

.menuTable table {
  background-color: #fbc54f;
  border-collapse: collapse;
  align-self: center;
}

.menuTable table {
  background: #d9d9d9;
  padding-bottom: 2vh;
}

.menuTable {
  margin-top: 2rem;
  margin-bottom: 2rem;
  /*   padding: 1em; */
}

.menuTable th {
  background: #4974E3;
}

/* .menuTable > * {
  margin-left: 1em;
} */

/* revisar .useOrder cuando este lista la tabla de al lado (background deberia ser la combinacion entre la clase + table) */
/* .userOrder {
  margin-top: 2em; */
  /*   padding: 1em; */
/*   background: #d9d9d9;
  width: 15em;
  height: 10em;
} */

.userOrder{
  background-color: blue;
  display: flex;
  
}

.tableBreakfast{
  display: flex;
  background-color: red;
  justify-content: center;
  margin-bottom: 1rem;
}

.menuTable {
  background-color: aqua;
  display: flex;
  justify-content: center;
}

.inputClientName {

}