.login::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url(../assets/LogoBurger.png);
  background-repeat: no-repeat;
  background-position: right top;
  opacity: 0.5;
  z-index: -1;
  transform: rotate(45deg);
}

.login {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.login>* {
  margin: 1em;
}

.form {
  width: 30em;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.296);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-between
}

.form>* {
  margin: 1em;
}

#btnLogin {
  background-color: #5CB46C;
  margin-top: 1rem;
  color: white;
  border-radius: 5em;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.3rem;
}

