
.container-menu {
    padding: 3px;
    display: grid;
    grid-template-columns: 200px 150px 200px; /* Define el número y el tamaño de las columnas */
    grid-template-rows: 100px 70px  100px 100px ; /* Define el número y el tamaño de las filas */
    grid-gap: 10px; /* Define el espacio entre las celdas */
    
}
.container-productos{
display: flex;
align-content: flex-end;
width: 80%;
height: 80px;
}
.productImg{
  
  width: 45%;
height: 45px;
}
.btn-desayuno{
  grid-column: 1;
}



