<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Administrador</title>
    </head>
    <body>
        <div class="allBody">
            <nav class="navbar">
                <img class="userLogin" src="./assets/Ellipse5.png" alt="user logo">
                <p class="nombre">Waiter</p>
            </nav>
        <div class="vista">
            <button class="user" > Desayuno </button>
            <button class="menu" > Almuerzo </button>
        </div>
            <div class="encabezado" >
                <div class="cards" >
                  
                </div>
                <button class="addUser"> Generar Orden </button>
            </div>
           <!-- <div class="vitaModal" *ngIf ="activeView === 'view3'">
                <app-modal></app-modal>
            </div> --> 
        <!--<div class="vistaMenu" >
            <div class="products"> 
                
            </div>
            <button class="addProduct">Agregar Producto</button>
        </div>--> 
    </div>
    </body>
</html>