@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
/*Paleta de colores
body = #F5F5F5
button = #F2B366 
button = #731616
tab = #D9D9D9 
*/

$font-stack: 'Agbalumo';
$base-color-one: #ffffff;
$base-color-two: #000000;
$base-color-tv2: #19191a;
$base-color-tv3: #101217;
$base-color-tv4: #45484a;
$base-color-three: #db3210; 
$base-color-modal: rgba(244, 244, 244, 0.5); 


.modal-fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: $base-color-modal;
  }

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 65%;
    background-color: $base-color-one;
    border-radius: 10px;
    margin-top: 10%;
}

.modal-content {
    display: flex;
    width: 90%;
    height: 90%;
    background-color: $base-color-one;
    align-items: center;
    justify-content: center;
}

.mat-typography{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $base-color-one;
    flex-direction: column;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }

  h1 {
    display: flex;
    align-items: center;
    font-size: large;
  }

  .mat-typography {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: $base-color-one;
  }

  .close{
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    padding: 0;
  }

.addinput {
  width: 100%;
  height: 80%;
  border-radius: 10px;
}


