<section class="background-waiter">
    <div class="container-top">
    <div class="userIcono-waiter-nav">
        <img src="../../../assets/user-solid.png" 
        alt="imagen del icono del usuario" 
        class="img-waiter-nav"/></div>
    <div class="userName-waiter-nav">Usuario</div>
    <div class="notification-waiter-nav">
        <img src="../../../assets/notificaciones.png" 
        alt="imagen del icono del usuario" 
        class="img-waiter-nav"/></div>
     

    <div class="respmenu">
        <input type="checkbox">
            <i class="fas fa-bars"></i>
            <i class="fas fa-times"></i>
        <nav class="waiter-nav">
            <ul>
                <li class="list-waiter-nav">ordenes</li>
                <li class="list-waiter-nav">salir</li>
            </ul>
        </nav>
    </div>
  </div>
<div class="bottom-container" >
    <div class="main-waiter"></div>
</div>
<button class="buttom-waiter">Generar Orden</button>

</section>
