
body {
  min-width: 1000px;
  min-height: 128vh;
  color: #133C8B;
  font-family: 'Karma';
  overflow: auto;
  background-color: #FDFE74;
}
button {
  border-radius: 30px;
  color: white;
  cursor: pointer;
  background-color:#133C8B;
  font-size: 22px;
   }

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btnAdd{
  background-color: #133C8B;
  display: grid;
  height: 61px;
  margin-top: -68px;
  align-items: center;
  font-size: 25px;
}
.btn-login{
  background-color: #133C8B;
  position: relative;
  width: 115%;
  max-width: 321px;
  height: 47px;
  border: none;
  border-radius: 12px;
  font-size: 21px;
  padding-left: 5%;
  top: 30px;
  left: 13px;
}


