
h1 {
  font-size: 49px;
  grid-row: 1;
  grid-column: 4;
  position: relative;
  top: 17px;
  left: 39px;
}

body {
  min-width: 320px;
  min-height: 128vh;
  background-color: #FDFE74;
  color: #133C8B;
  font-family: 'Karma';
  overflow: auto;
  overflow: hidden;
  
}
button {
  border-radius: 30px;
  color: white;
  cursor: pointer;
  background-color:#133C8B;
  font-size: 22px;
  letter-spacing: 2px;
   }

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btnAdd{
  background-color: #133C8B;
  display: grid;
  width: 90%;
  height: 33px;
  margin-top: -63px;
  align-items: center;
}
.btn-login{
  background-color: #133C8B;
  position: relative;
  width: 115%;
  max-width: 321px;
  height: 47px;
  border: none;
  border-radius: 12px;
  font-size: 21px;
  padding-left: 5%;
  top: 30px;
  left: 13px;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #133C8B;
  
  }
  
}
