:root {
  font-family: 'Mulish', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #626262;
  background-color: #F2F2F2;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 6.4em;
  line-height: 1.1;
  text-align: start;
}


.login{
  width: auto;
  height: auto;
  
}

.login-header{
  width: 100%;
  height: 441px;
  background-color: #EAE2B7;
  border-bottom-left-radius: 20px ;
  border-bottom-right-radius: 20px ;

}
.content-login{
  margin-left: 130px;
  margin-right: 130px; 
  display: flex;
  flex-direction: column;
}

.inputs-login{
  background-color: white;
  color: #626262;
  border: none;
  width: 697px;
  height: 79px;
  margin: 20px;
  padding-left: 40px;
  font-size:xx-large;
  border-radius: 5px;
}
.forgot-password{
  color: #F8774A;
  font-size: x-large;
  margin-bottom: 100px;
}


/* CSS HOME*/

.Home{
  background-color: #EAE2B7;
  width: 100%;
  min-height: 1336px;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2{
  margin-top: 100px;
  width: 350px;
  font-size: 50px;
    color: #626262;
}

.img-home{
  height: 590px;
  width: 590px;
  margin-bottom: 100px;
}



/*Waiter*/


.container-info{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.client-name{
  width: 500px;
  
}

.waiter-color-header{
  background-color: #626262;
}
