body {
  background: #1e1e1e;
  margin: 0;
  display: flex;
  font-size: 1.3rem;
  font-family: sans-serif;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5em;
  position: fixed;
  top: 0;
  left: 0;
}

.header h1 {
  margin-left: 1em;
}

.rigth {
  display: flex;
  flex-direction: row;
  margin-right: 2em;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.header:before {
  content: "";
  background-image: url(../src/assets/LogoBurger.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 18em;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%) rotate(45deg);
}

button.out {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size: 1.3rem;
  border-radius: 0.7em;
}

p {
  font-size: 1.7rem;
}

input {
  font-size: 1.3rem;
  margin-top: 1rem;
  border-radius: 2rem;
  padding: 0.5rem;
  margin-bottom: 1.2rem;
}

label {
  font-size: 1.8rem;
}

div.error-message {
  color: white;
  background-color: #C21D13;
  padding: 0.3rem;
  margin-bottom: 1.2rem;
  margin-top: 0.5rem;
}

table {
  border-collapse: collapse;
  width: ;
}

th {
  color: white;
  padding-top: 1vh;
  padding-left: 1.2vw;
  padding-right: 1.2vw;
  padding-bottom: 1vh;
}

td {
  padding-top: 1vh;
  padding-left: 1.2vw;
  padding-right: 1.2vw;
  padding-bottom: 2vh;
}

.button {
  margin-top: 1rem;
  color: white;
  border-radius: 5em;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.3rem;
}